*{
    font-family:poppins;
}

body{
justify-content: space-evenly;
font-weight:bolder;
font-size:large;
background-color: blanchedalmond;

}
.converter{
    justify-content: space-between;
    max-width: 400px auto;
    padding: 20px;
    background-color: rgb(172, 203, 227);
    margin: 10px;
    margin-top: 100px;
    box-shadow: 0px 0px 10px 0px grey;
    border-radius: 16px;
 text-align: center;
}
.list1{
    justify-content: space-between;
    padding: 16px;
}

#list1,#list2,#number,#text,#submit,#result{
border-radius: 6px;
outline:none;
border:none;
width: 125px;
height: 30px;
}

.converter h1{
    text-align: center;
}
.list{
    display: flex;
    justify-content: center;
}
.degree{
    display: flex;
    justify-content: center;
    padding:16px;
}
.result{
    display: flex;
    justify-content: center;
    padding:16px;
}
#submit:hover {
    background-color: rgb(224, 181, 181);
    transition: all 0.3s ease;
    border-radius: 6px;
    outline:none;
    border:none;
    width: 140px;
    height: 35px;
}
#demo{
    font-size: 16px;
}